@model IronHorseCore.Models.Clientrate

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Detalles de Tarifa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeServiceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeService.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeLoadId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeLoad.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeProductId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeProduct.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SourceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Source.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DestinyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Destiny.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Unit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoneyId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Money.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceWithoutVat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceWithoutVat)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContractExpiration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContractExpiration)
        </dd>
        @*
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Enabled)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Enabled)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UniqueId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UniqueId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MetaAuth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MetaAuth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsRemoved)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsRemoved)
            </dd>
        *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-uniqueid="@Model.UniqueId">Editar</a> |
    <a asp-action="Index">Regresar</a>
</div>
