@model IEnumerable<IronHorseCore.Models.Clientrate>

@{
    ViewData["Title"] = "Index";
}

<div class="page-title-box">
    <div class="page-title-right">
        <a asp-action="Create" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Agregar Tarifa</a>
    </div>
    <h4 class="page-title">Tarifas</h4>

    @*Reporte de excel*@
    <form asp-action="Report">
        <div style="padding-bottom: 1%;">
            <button type="submit" class="btn btn-success">
                <i class="far fa-file-excel"></i> Reporte Excel
            </button>
        </div>
    </form>
</div>

<table id="tblList" class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeServiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeLoadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeProductId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceWithoutVat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractExpiration)
            </th>
            @*
                <th>
                    @Html.DisplayNameFor(model => model.Enabled)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UniqueId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MetaAuth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRemoved)
                </th>
            *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeService.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeLoad.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeProduct.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Source.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destiny.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Unit.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Money.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceWithoutVat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContractExpiration)
                </td>
                @*
                    <td>
                        @Html.DisplayFor(modelItem => item.Enabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UniqueId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MetaAuth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsRemoved)
                    </td>
                *@
                <td nowrap>
                    <a asp-action="Edit" asp-route-uniqueid="@item.UniqueId" class="text-primary"><i class="fas fa-edit"></i> Editar</a> |
                    <a asp-action="Details" asp-route-uniqueid="@item.UniqueId" class="text-info"><i class="fas fa-bookmark"></i> Detalle</a> |
                    <a asp-action="Delete" asp-route-uniqueid="@item.UniqueId" class="text-danger"><i class="fas fa-trash"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {

    <link href="~/lib/datatables/datatables.css" rel="stylesheet" />
    <script src="~/lib/datatables/datatables.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#tblList').DataTable({
                "language": { url: "/lib/datatables/spanish.json" }
            });
        })
    </script>

}