@model IEnumerable<IronHorseCore.Models.Clientrate>

@{
    ViewData["Title"] = "Index";
}

<div class="page-title-box">
    <div class="page-title-right">
        <a asp-action="Create" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Agregar Tarifa</a>
    </div>
    <h4 class="page-title">Tarifas</h4>
</div>

<table id="tblList" class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeService)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillableUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceWithoutVat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractExpiration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeService)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillableUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceWithoutVat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractExpiration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td nowrap>
                <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary"><i class="fas fa-edit"></i> Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="text-info"><i class="fas fa-bookmark"></i> Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger"><i class="fas fa-trash"></i> Eliminar</a>
            </td>
            
        </tr>
        }
    </tbody>
</table>
@section Scripts {

    <link href="~/lib/datatables/datatables.css" rel="stylesheet" />
    <script src="~/lib/datatables/datatables.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#tblList').DataTable({
                "language": { url: "/lib/datatables/spanish.json" }
            });
        })
    </script>

}