@model IronHorseCore.Models.Driver

@{
    ViewData["Title"] = "Edit";
}



<h4>Editar Conductor</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control form-control-sm" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="BirthDay" class="control-label"></label>
                        <input id="strBirthDay" name="strBirthDay" class="form-control" value="@Convert.ToDateTime(Model.BirthDay).ToString("dd/MM/yyyy")" />
                        <span asp-validation-for="BirthDay" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Dni" class="control-label"></label>
                        <input asp-for="Dni" class="form-control form-control-sm" />
                        <span asp-validation-for="Dni" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="Dnivigencia" class="control-label"></label>
                        <input id="strDnivigencia" name="strBirthDay" class="form-control" value="@Convert.ToDateTime(Model.Dnivigencia).ToString("dd/MM/yyyy")" />
                        <span asp-validation-for="Dnivigencia" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="LicenseDriverNumber" class="control-label"></label>
                        <input asp-for="LicenseDriverNumber" class="form-control form-control-sm" />
                        <span asp-validation-for="LicenseDriverNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="LicenseDriverValidaty" class="control-label"></label>
                        <input id="strLicenseDriverValidaty" name="strBirthDay" class="form-control" value="@Convert.ToDateTime(Model.LicenseDriverValidaty).ToString("dd/MM/yyyy")" />
                        <span asp-validation-for="LicenseDriverValidaty" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="LicenseDriver2Number" class="control-label"></label>
                        <input asp-for="LicenseDriver2Number" class="form-control form-control-sm" />
                        <span asp-validation-for="LicenseDriver2Number" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label asp-for="LicenseDriver2Validaty" class="control-label"></label>
                        <input id="strLicenseDriver2Validaty" name="strBirthDay" class="form-control" value="@Convert.ToDateTime(Model.LicenseDriver2Validaty).ToString("dd/MM/yyyy")" />
                        <span asp-validation-for="LicenseDriver2Validaty" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-6">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Iqpf" /> @Html.DisplayNameFor(model => model.Iqpf)
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="CursosPortuarios" /> @Html.DisplayNameFor(model => model.CursosPortuarios)
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="CursosPortuariosVigencia" class="control-label"></label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input id="strCursosPortuariosVigencia" name="strBirthDay" class="form-control" value="@Convert.ToDateTime(Model.CursosPortuariosVigencia).ToString("dd/MM/yyyy")" />
                        <span asp-validation-for="CursosPortuariosVigencia" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="InduccionImpala" /> @Html.DisplayNameFor(model => model.InduccionImpala)
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="InduccionImpalaVigencia" class="control-label"></label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input id="strInduccionImpalaVigencia" name="strBirthDay" class="form-control" value="@Convert.ToDateTime(Model.InduccionImpalaVigencia).ToString("dd/MM/yyyy")" />
                        <span asp-validation-for="InduccionImpalaVigencia" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="InduccionLogisminsa" /> @Html.DisplayNameFor(model => model.InduccionLogisminsa)
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="InduccionLogisminsaVigencia" class="control-label"></label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input id="strInduccionLogisminsaVigencia" name="strBirthDay" class="form-control" value="@Convert.ToDateTime(Model.InduccionLogisminsaVigencia).ToString("dd/MM/yyyy")" />
                        <span asp-validation-for="InduccionLogisminsaVigencia" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="InduccionPerubar" /> @Html.DisplayNameFor(model => model.InduccionPerubar)
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="InduccionPerubarVigencia" class="control-label"></label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input id="strInduccionPerubarVigencia" name="strBirthDay" class="form-control" value="@Convert.ToDateTime(Model.InduccionPerubarVigencia).ToString("dd/MM/yyyy")" />
                        <span asp-validation-for="InduccionPerubarVigencia" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="InduccionShouxin" /> @Html.DisplayNameFor(model => model.InduccionShouxin)
                        </label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="InduccionShouxinVigencia" class="control-label"></label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <input id="strInduccionShouxinVigencia" name="strBirthDay" class="form-control" value="@Convert.ToDateTime(Model.InduccionShouxinVigencia).ToString("dd/MM/yyyy")" />
                        <span asp-validation-for="InduccionShouxinVigencia" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InduccionTisur" /> @Html.DisplayNameFor(model => model.InduccionTisur)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InduccionRansa" /> @Html.DisplayNameFor(model => model.InduccionRansa)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InduccionAcerosA" /> @Html.DisplayNameFor(model => model.InduccionAcerosA)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Grabar" class="btn btn-primary" />
            </div>





        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regreso</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js"></script>

    <script>

        //Agregarle el datepicker del javascript

        $('#strBirthDay').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
        $('#strDnivigencia').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
        $('#strLicenseDriverValidaty').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
        $('#strLicenseDriver2Validaty').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
        $('#strCursosPortuariosVigencia').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
        $('#strInduccionImpalaVigencia').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
        $('#strInduccionLogisminsaVigencia').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
        $('#strInduccionPerubarVigencia').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });
        $('#strInduccionShouxinVigencia').datepicker({
            language: "es",
            autoclose: true,
            todayHighlight: true
        });

    </script>

}
