@model IEnumerable<IronHorseCore.Models.Driver>

@{
    ViewData["Title"] = "Index";
}

<div class="page-title-box">
    <div class="page-title-right">
        <a asp-action="Create" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Agregar Conductor</a>
    </div>
    <h4 class="page-title">Conductores</h4>
</div>

<table id="tblList" class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDay)
            </th>
            <th>
                DNI / Vigencia
            </th>
            <th>
                Licencia de conducir
                <br />
                Número / Vigencia
            </th>
            @*<th>
                    Licencia de conducir 2
                    <br />
                    Número / Vigencia
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Iqpf)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @*<th>
                    Cursos Portuarios <br />/ Vigencia
                </th>
                <th>
                    Inducción Impala <br />/ Vigencia
                </th>
                <th>
                    Inducción Logisminsa <br />/ Vigencia
                </th>
                <th>
                    Inducción Perubar <br />/ Vigencia
                </th>
                <th>
                    Inducción Shouxin <br />/ Vigencia
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InduccionTisur)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InduccionRansa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InduccionAcerosA)
                </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.BirthDay.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dni)
                    <br />
                    @item.Dnivigencia.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LicenseDriverNumber)
                    <br />
                    @item.LicenseDriverValidaty.ToString("dd/MM/yyyy")
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.LicenseDriver2Number)
                        <br />
                        @{
                            var LicenseDriver2Validaty = item.LicenseDriver2Validaty == null ? "" : Convert.ToDateTime(item.LicenseDriver2Validaty).ToString("dd/MM/yyyy");
                        }
                        @LicenseDriver2Validaty
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Iqpf)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.CursosPortuarios)
                        <br />
                        @{
                            var CursosPortuariosVigencia = item.CursosPortuariosVigencia == null ? "" : Convert.ToDateTime(item.CursosPortuariosVigencia).ToString("dd/MM/yyyy");
                        }
                        @CursosPortuariosVigencia
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InduccionImpala)
                        <br />
                        @{
                            var InduccionImpalaVigencia = item.InduccionImpalaVigencia == null ? "" : Convert.ToDateTime(item.InduccionImpalaVigencia).ToString("dd/MM/yyyy");
                        }
                        @InduccionImpalaVigencia
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InduccionLogisminsa)
                        <br />
                        @{
                            var InduccionLogisminsaVigencia = item.InduccionLogisminsaVigencia == null ? "" : @Convert.ToDateTime(item.InduccionLogisminsaVigencia).ToString("dd/MM/yyyy");
                        }
                        @InduccionLogisminsaVigencia
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InduccionPerubar)
                        <br />
                        @{
                            var InduccionPerubarVigencia = item.InduccionPerubarVigencia == null ? "" : Convert.ToDateTime(item.InduccionPerubarVigencia).ToString("dd/MM/yyyy");
                        }
                        @InduccionPerubarVigencia
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InduccionShouxin)
                        <br />
                        @{
                            var InduccionShouxinVigencia = item.InduccionShouxinVigencia == null ? "" : Convert.ToDateTime(item.InduccionShouxinVigencia).ToString("dd/MM/yyyy");
                        }
                        @InduccionShouxinVigencia
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InduccionTisur)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InduccionRansa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InduccionAcerosA)
                    </td>*@
                <td nowrap>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary"><i class="fas fa-edit"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="text-info"><i class="fas fa-bookmark"></i> Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger"><i class="fas fa-trash"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {

    <link href="~/lib/datatables/datatables.css" rel="stylesheet" />
    <script src="~/lib/datatables/datatables.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#tblList').DataTable({
                "language": { url: "/lib/datatables/spanish.json" }
            });
        })
    </script>

}