@model IronHorseCore.Models.Operation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Operation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoadDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoadDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdometerBegin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdometerBegin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OdometerEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OdometerEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carreta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carreta.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrier.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.Address)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destiny)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destiny.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.Dni)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Money)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Money.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Source.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tracto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tracto.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeLoad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeLoad.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeProduct.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit.Name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
