@model IronHorseCore.Models.Operation

@{
    ViewData["Title"] = "Delete";
}

<div>
    <h4>Eliminar Operacion</h4>
    <h6 class="text-danger">¿Estás seguro de que quieres eliminar esto?</h6>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MonthYear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MonthYear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OutDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoadDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoadDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OdometerBegin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OdometerBegin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OdometerEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OdometerEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UnitPay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fuel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fuel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carreta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carreta.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carrier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carrier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Clientrate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Clientrate.ContractExpiration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Driver.Dni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tracto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tracto.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
