@model IronHorseCore.Models.Operation

@{
    ViewData["Title"] = "Details";
    float sumaGatos = 0;
    float sumaPajes = 0;
}
<h4>Detalle de la Operación</h4>
<hr />
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Operación</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="datos-tab" data-toggle="tab" href="#datos" role="tab" aria-controls="datos" aria-selected="false">Datos del viaje</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="gastos-tab" data-toggle="tab" href="#gastos" role="tab" aria-controls="gastos" aria-selected="false">Gastos del Conductor</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="costos-tab" data-toggle="tab" href="#costos" role="tab" aria-controls="costos" aria-selected="false">Costo del servicio</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="peajes-tab" data-toggle="tab" href="#peajes" role="tab" aria-controls="peajes" aria-selected="false">Peajes</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active p-2" id="home" role="tabpanel" aria-labelledby="home-tab">
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.MonthYear)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.MonthYear)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.ClientId)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Client.Name)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.CarrierId)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Carrier.Name)
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.LoadDate)
            </dt>
            <dd class="col-sm-7">
                @Convert.ToDateTime(Model.LoadDate).ToString("dd/MM/yyyy")
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.OutDate)
            </dt>
            <dd class="col-sm-7">
                @Convert.ToDateTime(Model.OutDate).ToString("dd/MM/yyyy")
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>
            <dd class="col-sm-7">
                @Convert.ToDateTime(Model.EndDate).ToString("dd/MM/yyyy")
            </dd>

            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.DriverId)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Driver.Name)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.TractoId)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Tracto.Id)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.CarretaId)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Carreta.Id)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.UnitPay)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.UnitPay)
            </dd>
        </dl>

    </div>
    <div class="tab-pane fade p-2" id="datos" role="tabpanel" aria-labelledby="datos-tab">
        <dl class="row">
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.OdometerBegin)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.OdometerBegin)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.OdometerEnd)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.OdometerEnd)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Fuel)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Fuel)
            </dd>
            <dt class="col-sm-5">
                @Html.DisplayNameFor(model => model.Capacity)
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.Capacity)
            </dd>

            <dt class="col-sm-5">
                Guia Remision Remitente
            </dt>
            <dd class="col-sm-7">
                <a>Foto</a>
            </dd>
            <dt class="col-sm-5">
                Guia Remision tranportista
            </dt>
            <dd class="col-sm-7">
                <a>Foto</a>
            </dd>
            <dt class="col-sm-5">
                Carga Efectiva
            </dt>
            <dd class="col-sm-7">
                <a>Foto</a>
            </dd>
            <dt class="col-sm-5">
                Ticket balanza origen
            </dt>
            <dd class="col-sm-7">
                <a>Foto</a>
            </dd>
            <dt class="col-sm-5">
                Ticket balanza destino
            </dt>
            <dd class="col-sm-7">
                <a>Foto</a>
            </dd>
        </dl>

    </div>
    <div class="tab-pane fade p-2" id="gastos" role="tabpanel" aria-labelledby="gastos-tab">

        <p>
            <a asp-controller="DriverExpenses" asp-action="Create" asp-route-operationid="@Model.Id" asp-route-driverid="@Model.DriverId" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Agregar Gasto</a>
        </p>
        <table id="tblList" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Tipo de gasto
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Monto
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.DriverExpenses)
                {
                    sumaGatos += item.Amount;
                    <tr>
                        <td>
                            @item.Date.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @item.TypeExpense.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td class="text-right">
                            @item.Amount.ToString("#.00")
                        </td>
                        <td>
                            <a asp-controller="DriverExpenses" asp-action="Edit" asp-route-id="@item.Id" asp-route-driverid="@item.DriverId" asp-route-typeexpenseid="@item.TypeExpenseId" asp-route-operationid="@item.OperationId" class="text-primary"><i class="fas fa-edit"></i> Editar</a> |
                            <a asp-controller="DriverExpenses" asp-action="Delete" asp-route-id="@item.Id" class="text-danger"><i class="fas fa-trash"></i> Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                    </td>
                    <td class="text-right">
                        @sumaGatos.ToString("#.00")
                    </td>
                    <td>
                    </td>
                </tr>
            </tfoot>
        </table>

    </div>

    <div class="tab-pane fade p-2" id="costos" role="tabpanel" aria-labelledby="costos-tab">
        <dl class="row">
            <dt class="col-sm-5">
                Llantas (Ratio x Cantidad de kilimetros)
            </dt>
            <dd class="col-sm-7">

            </dd>
            <dt class="col-sm-5">
                Mantenimiento (Ratio x Cantidad de kilimetros)
            </dt>
            <dd class="col-sm-7">

            </dd>
            <dt class="col-sm-5">
                Peajes
            </dt>
            <dd class="col-sm-7">

            </dd>
        </dl>
    </div>


    <div class="tab-pane fade p-2" id="peajes" role="tabpanel" aria-labelledby="peajes-tab">

        <p>
            <a asp-controller="Tolls" asp-action="Create" asp-route-operationid="@Model.Id" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Agregar Peaje</a>
        </p>

        <table id="tblList1" class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>
                        Dia de pago
                    </th>
                    <th>
                        Pago
                    </th>
                    @*
                <th>
                    @Html.DisplayNameFor(model => model.Operations)
                </th>
                    *@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.TollLista)
                {
                    sumaPajes += item.Pay;
                    <tr>
                        <td>
                            @item.DatePay.ToString("dd/MM/yyyy")
                        </td>
                        <td class="text-right">
                            @item.Pay.ToString("#.00")
                        </td>
                        @*
                        <td>
                            @Html.DisplayFor(modelItem => item.Operations.Id)
                        </td>
                        *@
                        <td nowrap>
                            <a asp-controller="Tolls" asp-action="Edit" asp-route-id="@item.Id" asp-route-operationid="@item.OperationsId" class="text-primary"><i class="fas fa-edit"></i> Editar</a> |
                            <a asp-controller="Tolls" asp-action="Delete" asp-route-id="@item.Id" class="text-danger"><i class="fas fa-trash"></i> Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>

            <tfoot>
                <tr>
                    <td colspan="1"></td>
                    <td class="text-right">
                        @sumaPajes.ToString("#.00")
                    </td>
                    <td></td>
                </tr>
            </tfoot>

        </table>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar Operacion</a> |
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {

    <link href="~/lib/datatables/datatables.css" rel="stylesheet" />
    <script src="~/lib/datatables/datatables.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#tblList').DataTable({
                "language": { url: "/lib/datatables/spanish.json" }
            });
        })
    </script>

    <script type="text/javascript">
        $(function () {
            $('#tblList1').DataTable({
                "language": { url: "/lib/datatables/spanish.json" }
            });
        })
    </script>

}