@model IEnumerable<IronHorseCore.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<div class="page-title-box">
    <div class="page-title-right">
        <a asp-action="Create" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i> Agregar Cliente</a>
    </div>
    <h4 class="page-title">Clientes</h4>
</div>

<table id="tblList" class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td nowrap>
                <a asp-action="Edit" asp-route-id="@item.UniqueId" class="text-primary"><i class="fas fa-edit"></i> Editar</a> |
                <a asp-action="Details" asp-route-uniqueid="@item.UniqueId" class="text-info"><i class="fas fa-bookmark"></i> Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.UniqueId" class="text-danger"><i class="fas fa-trash"></i> Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {

    <link href="~/lib/datatables/datatables.css" rel="stylesheet" />
    <script src="~/lib/datatables/datatables.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#tblList').DataTable({
                "language": { url: "/lib/datatables/spanish.json" }
            });
        })
    </script>

}
