@model IronHorseCore.Models.Bill

@{
    ViewData["Title"] = "Delete";
    var list = (List<SelectListItem>)ViewBag.TypeBillStatus;
}

<div>
    <h4>Eliminar Factura</h4>
    <h6 class="text-danger">¿Estás seguro de que quieres eliminar esto?</h6>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OperationId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Operation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datepay)
        </dt>
        <dd class="col-sm-10">
            @Convert.ToDateTime(Model.Datepay).ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @list.Where(m => m.Value == Model.Status.ToString()).First().Text
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        @*
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Created)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Created)
            </dd>
        *@
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
