@model IronHorseCore.Models.Truck

@{ ViewData["Title"] = "Delete"; }

<div>
    <h4>Eliminar Tracto/Carreta</h4>
    <h6 class="text-danger">¿Estás seguro de que quieres eliminar esto?</h6>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarrierId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carrier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsRemolcado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsRemolcado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsSemiremolque)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsSemiremolque)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SemiremolqueTipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SemiremolqueTipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Soatnumero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soatnumero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Soatvigencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Soatvigencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PolizaNro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PolizaNro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PolizaVigencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PolizaVigencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PolizaAccidentesPersonalesVigencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PolizaAccidentesPersonalesVigencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PolizaSeguroTrecVigencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PolizaSeguroTrecVigencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RevisionTecnicaNro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RevisionTecnicaNro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RevisionTecnicaVigencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RevisionTecnicaVigencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CkecklistInspeccionGeneralVigencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CkecklistInspeccionGeneralVigencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gpsproveedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gpsproveedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GpscertificadoInstalacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GpscertificadoInstalacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TarjetaCirualacionVigencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TarjetaCirualacionVigencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TarjetaMercaderiaVigencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TarjetaMercaderiaVigencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Propietario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Propietario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BonificacionPesosMedidas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BonificacionPesosMedidas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BonifacionMatpel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BonifacionMatpel)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>