@model IEnumerable<IronHorseCore.Models.Truck>

@{
    ViewData["Title"] = "Index";
}

<div class="page-title-box">
    <div class="page-title-right">
        <a asp-action="Create" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>Agregar Tracto/Carreta</a>
    </div>
    <h4 class="page-title">Tracto/Carreta</h4>
</div>

<table id="tblList" class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>
                Transportista
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRemolcado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSemiremolque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SemiremolqueTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Soatnumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soatvigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolizaNro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolizaVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolizaAccidentesPersonalesVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PolizaSeguroTrecVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RevisionTecnicaNro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RevisionTecnicaVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CkecklistInspeccionGeneralVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gpsproveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GpscertificadoInstalacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TarjetaCirualacionVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TarjetaMercaderiaVigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Propietario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BonificacionPesosMedidas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BonifacionMatpel)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <th>
                Transportista
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRemolcado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSemiremolque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemiremolqueTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Soatnumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soatvigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolizaNro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolizaVigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolizaAccidentesPersonalesVigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PolizaSeguroTrecVigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RevisionTecnicaNro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RevisionTecnicaVigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CkecklistInspeccionGeneralVigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gpsproveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GpscertificadoInstalacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TarjetaCirualacionVigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TarjetaMercaderiaVigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Propietario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BonificacionPesosMedidas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BonifacionMatpel)
        </td>*@
            <td nowrap>
                <a asp-action="Edit" asp-route-id="@item.Id" class="text-primary"><i class="fas fa-edit"></i> Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="text-info"><i class="fas fa-bookmark"></i> Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger"><i class="fas fa-trash"></i> Eliminar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
@section Scripts {

    <link href="~/lib/datatables/datatables.css" rel="stylesheet" />
    <script src="~/lib/datatables/datatables.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#tblList').DataTable({
                "language": { url: "/lib/datatables/spanish.json" }
            });
        })
    </script>

}